[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  ba = branch -a
  com = checkout master
[user]
  name = Jen Wilhelm
  email = jen.wilhelm@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto